CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Generated source file sources:
vanilla_ids.json

# Visual Studio files:
*.vcxproj
*.sln
*.filters
*.user
*.suo
*.sdf
*.opensdf
Debug/
Release/

# Runtime files:
test/
list.txt
logs/